<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ProjetEncheres</display-name>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>ServletAccueil</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletConnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/seConnecter</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletAccueil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/Accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VendreUnArticle</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletAjoutArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VendreUnArticle</servlet-name>
		<url-pattern>/VendreUnArticle</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Profil</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletMonProfil</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profil</servlet-name>
		<url-pattern>/Profil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Administrateur</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletGestionAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Administrateur</servlet-name>
		<url-pattern>/Administrateur</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletAjoutUtilisateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/Inscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletDeconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/Deconnexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DetailArticle</servlet-name>
		<servlet-class>fr.eni.projetenchere.servlets.ServletDetailArticle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailArticle</servlet-name>
		<url-pattern>/DetailArticle</url-pattern>
	</servlet-mapping>
</web-app>
